body
{
    background-color: #F1F1F2;
}
#hlekkur
{
   background-color:#283655;
   padding-bottom:30px;
}

.img1
{
    margin: 6px 0px 0px 3px; 
    float: left;
}

#myprojectForm
{
    text-align:center;
}

.myAndShare
{
    text-align:center;
    margin: 110px 0px 0px 0px;
}

.navbar-right
{
    margin-top:14px;
    font-size:15px;
}

.navbar-header
{
    margin-top:27px;
   
}

.navbar-brand
{
    margin-left:50px;
    
}
.breadcrumb
{
    background-color:#F1F1F2;
    color:#283655;
}

.link1
{
    color:#283655;
    border-left:1px solid black;
    padding-left:25px;
   
}
.link1:hover
{
    text-decoration:none;

}

.CreateProject
{
    color:#283655;
    border: 1px solid grey;
    background-color:#F1F1F2;
    

}

.col-sm-4
{
   background-color:#F1F1F2;
   border:none;
}
.panel-default
{
     background-color:#F1F1F2;
     border:none;
}

/* css for shared project*/

.link2
{
    color:#283655;
    border-right:1px solid black;
    padding-right:25px;
   
}

.link2:hover
{
    text-decoration:none;
}
.bottom30
{
    margin-bottom:30px;
}

.folderName
{
    margin-top:10px;
}