body 
{

}

#link
{
   background-color:#283655;
   padding-bottom:30px;
   height:90px;

}

.img1
{
    margin: 6px 0px 0px 3px; 
    float: left;
    padding: 0px 14px 0px 0px;
}

.navbar-right
{
    margin-top:12px;
    font-size:13px;
}

.navbar-header
{
    margin-top:20px;
   
}

.navbar-brand
{
    margin-left:50px;
    
}

.manage
{
    margin-top:60px;
}

.errorMessage
{
    margin: 83px 0px 0px 0px;
}