body
{
    background-color: #F1F1F2;
}
#hlekkur
{
   background-color:#283655;
   padding-bottom:30px;
}

.img1
{
    margin: 6px 0px 0px 3px; 
    float: left;
    padding: 0px 14px 0px 0px;
}

.navbar-right
{
    margin-top:13px;
    font-size:13px;
}

.navbar-header
{
    margin-top:27px;
   
}

.navbar-brand
{
    margin-left:50px;
    
}
#fileList
{
    background-color: #F1F1F2;
    border:none;
}

.bla
{
    margin-top:100px;
}

.col-sm-4
{
   background-color:#F1F1F2;
   border:none;
}
.panel-default
{
     background-color:#F1F1F2;
     border:none;
}
.fileName
{
    margin-top:10px;
}

.name
{
    margin-bottom:20px;

}

.CreateAndShareProj
{
    text-align:center;
    margin: 110px 0px 0px 0px;
}

.Create-File
{
    background-color: #F1F1F2;
    color:#283655;
    border:none;
    border-right:1px solid #000000;
    padding-right:25px;
}

.Share-Project
{
    background-color: #F1F1F2;
    color:#283655;
    border: none;
    padding-left:25px;
}

#UserList
{
    text-align:left;
}