body
{

}
#hlekkur
{
   background-color:#283655;
   padding-bottom:30px;
}

.img1
{
    margin: 6px 0px 0px 3px; 
    float: left;
}

.navbar-right
{
    margin-top:13px;
}

.navbar-header
{
    margin-top:27px;
   
}

.navbar-brand
{
    margin-left:50px;
    
}