@{
    ViewBag.Title = "Permission Error";
}

<link href="~/Content/manage.css" rel="stylesheet" type="text/css">

<h2 class="text-danger errorMessage">You don't have Permission to view this project</h2>

