@model CodingDocs.Models.ViewModels.ShareProjectViewModel

<form id="InviteUserForm" name="InviteUserForm" method="post">
    <div class="form-group">
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { required = true, maxlength = "30", id = "userName"})
        @Html.HiddenFor(model => model.ProjectID, new { htmlAttributes = new { value = Model.ProjectID } })
        <input type="submit" class="submit" style="display:none;" />
    </div>
</form>