@model List<CodingDocs.Models.ViewModels.ProjectViewModel>

@{
    ViewBag.Title = "My Projects";
}

<h1> Homepage </h1>

<h3>My Projects</h3>
<div class="myAndShare">
    <div class="btn-group">
        <button type="button" class="btn breadcrumb">MyProject</button>
        <button type="button" class="btn breadcrumb">@Html.ActionLink("Shared Projects", "SharedProjects", "Project")</button>
    </div>
</div>
@foreach (var proj in Model)
{
    <div class="col-sm-4">
        <div class="panel panel-default">
            <img src="~/Pics/upgrademappa.png" alt="meppa" />
            <label class="folderName">@proj.Name . @proj.Type</label>
        </div>
    </div>
}

@Html.ActionLink("Create Project", "CreateProject", "Project")

