@model List<CodingDocs.Models.ViewModels.ProjectViewModel>

@{
    ViewBag.Title = "Shared Projects";
}

<h1> Homepage </h1>

<h3>Shared Projects</h3>
<div class="myAndShare">
    <div class="btn-group">
        <button type="button" class="btn breadcrumb">@Html.ActionLink("My Projects", "MyProjects", "Project")</button>
        <button type="button" class="btn breadcrumb">Shared Projects</button>
    </div>
</div>
    @foreach (var proj in Model)
    {
        <div class="col-sm-4">
            <div class="panel panel-default">
                <img src="~/Pics/upgrademappa.png" alt="meppa" />
                <label class="folderName">@Html.ActionLink(proj.Name, "ViewProject", new { id = proj.ID })</label>
            </div>
        </div>
    }


