@model List<CodingDocs.Models.ViewModels.ProjectViewModel>

@{
    ViewBag.Title = "Shared Projects";
}

<link href="~/Content/Homepage.css" rel="stylesheet" type="text/css">

<div class="myAndShare">
    <div class="btn-group">
        <button type="button" class="btn breadcrumb" onclick="location.href='@Url.Action("MyProjects", "Project")'">My Projects</button>
        <button type="button" class="btn breadcrumb">Shared Projects</button>
    </div>
</div>
<section id="myprojectForm">
    @foreach (var proj in Model)
    {
        <div class="col-sm-4">
            <div class="panel panel-default">
                <a href="@Url.Action("ViewProject", "Project",  new { id = proj.ID })" title="Coding Docs"><img src="~/Content/images/mappa.png" hight="220" width="200" alt="meppa" /></a>
                <br />
                <label class="folderName">@Html.ActionLink(proj.Name, "ViewProject", new { id = proj.ID })</label>
                <br />
                @Html.ActionLink("Remove", "RemoveSharedProject", new { id = proj.ID }, new { style = "color:red" })
            </div>
        </div>
    }
</section>


