@model List<CodingDocs.Models.ViewModels.ProjectViewModel>

@{
    ViewBag.Title = "Shared Projects";
}

<link href="~/Content/Homepage.css" rel="stylesheet" type="text/css">

<div class="myAndShare">
    <div class="btn-group">
        <button type="button" class="btn breadcrumb">@Html.ActionLink("My Projects", "MyProjects", "Project", new {@class="link2"})</button>
        <button type="button" class="btn breadcrumb">Shared Projects</button>
    </div>
</div>
@foreach (var proj in Model)
{
    <div class="col-sm-4">
        <div class="panel panel-default">
            <img src="~/Pics/upgrademappa.png" alt="meppa" />
            <br />
            <label class="folderName">@Html.ActionLink(proj.Name, "ViewProject", new { id = proj.ID })</label>
            <br />
            @Html.ActionLink("Remove", "RemoveSharedProject", new { id = proj.ID }, new { style = "color:red" })
        </div>
    </div>
}


