@model CodingDocs.Models.ViewModels.ViewProjectViewModel

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<p>@Model.Type</p>

<ul>
    @foreach (var file in Model.Files)
    {
        <li>@(file.Name + "." + file.Type)</li>
    }
</ul>

<label class="folderName">@Html.ActionLink("New File", "CreateFile", new { id = Model.ID })</label>