@model CodingDocs.Models.ViewModels.ViewProjectViewModel

@{
    ViewBag.Title = Model.Name;
}

@Html.ActionLink("Share Project", "InviteUser", new { id = Model.ID })

<h2>@Model.Name</h2>

<p>@Model.Type</p>

<ul>
    @foreach (var file in Model.Files)
    {
        <li>@file.Name</li>
    }
</ul>
