@{
    ViewBag.Title = "Project";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>ad profa er god skemmtun</p>


<link href="~/CodeMirror/lib/codemirror.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="~/CodeMirror/lib/codemirror.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript" src="~/CodeMirror/mode/javascript/javascript.js"></script>
<link href="~/CodeMirror/theme/monokai.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="~/CodeMirror/addon/display/autorefresh.js"></script>

<body>

<!--<a href='linkhref.html' id='mylink'>click me</a>-->


<script>

   
    $(document).ready(function () {
        var your_mode = "javascript";
        var code = $(".codemirror-textarea")[0];

        var editor = CodeMirror.fromTextArea(code, {
            lineNumbers: true,
            theme: "monokai"
        });

        editor.setOption('mode', your_mode);
    });

    $(document).on("click", "#einn", function () {

        var element = document.getElementById('einn');

        if (!element.classList.contains("virkur")){
        
            var code = $(".codemirror-textarea")[1];

            var editor = CodeMirror.fromTextArea(code, {
                lineNumbers: true,
                theme: "monokai"
            });
            editor.setValue("hallloo");
            $("#einn").addClass("virkur");
            

            setTimeout(function () {
                editor.refresh();
            }, 1);           
        }
        else {
            var editor = $('.CodeMirror')[1].CodeMirror;
            editor.refresh();
        }
        
    });

    $(document).on("click", "#tveir", function () {
        var element = document.getElementById('tveir');

        if (!element.classList.contains("virkur")) {

            var code = $(".codemirror-textarea")[2];

            var editor = CodeMirror.fromTextArea(code, {
                lineNumbers: true,
                theme: "monokai"
            });
            editor.setValue("hallloo");
            $("#tveir").addClass("virkur");

            setTimeout(function () {
                editor.refresh();
            }, 1);
        }
        else {
            var editor = $('.CodeMirror')[2].CodeMirror;
            editor.refresh();
        }
    });

    

    /*

var myLink = document.getElementById('mylink');

myLink.onclick = function(){

    var script = document.createElement("script");
    var value = "css";
    script.type = "text/javascript";
    script.src = "~/CodeMirror/mode/" + value + "/" + value + ".js";
    document.getElementsByTagName("head")[0].appendChild(script);
    return false;

}
*/
</script>


    <div class="container">
        
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
            <li><a id="einn" data-toggle="tab" class="tabs" href="#menu1">Menu 1</a></li>
            <li><a id="tveir" data-toggle="tab" class="tabs" href="#menu2">Menu 2</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>HOME</h3>
                <textarea class="codemirror-textarea"></textarea>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h3>Menu 1</h3>
                <textarea class="codemirror-textarea"></textarea>
                
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Menu 2</h3>
                <textarea class="codemirror-textarea"></textarea>
                
            </div>
             
        </div>
    </div>
</body>   
